<h1><span>Book was successfully created.</span></h1>

<div class="text_flex">
<h2>Title:</h2>
<p><%= @book.title %></p>
</div>

<div class="text_flex">
<h2>Body:</h2>
<p><%= @book.body %></p>
</div>

